//
// Aside
//

.aside {
  @include col();
  @include size(12);
  @include size-xs(3);
  //@include size-md(3);
  //@include size-lg(3);

  background-color: rgba(255, 0, 255, .2);

}

.aside-nav {

  &__link {
    display: inline-block;
    width: 100%;
  }
}
