//
// Fonts
//

@font-face {
  font-family: OpenSans;
  src: url(../../src/fonts/Open_Sans/OpenSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../../src/fonts/Open_Sans/OpenSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: OpenSans;
  src: url(../../src/fonts/Open_Sans/OpenSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}