//
// Common file
//

html {
  /* задаем фолбек на системный шрифт */
  font-family: sans-serif;
  font-size: 15px;
}

.fonts-loaded {
  /* добавляем кастомный шрифт по загрузке */
  font-family: OpenSans, sans-serif;
  font-size: 14px;
}

@import "smart-grid";
@import "reset";
@import "fonts";
@import "layout";
@import "header";
@import "footer";
@import "aside";
@import "main";
@import "debug";

.red {
  color: green;
}
